body header p{
  margin-top: 20px !important;
}
.cerrarSession {
  margin-top: 15px;
}
body header p, a{
  color: white;
}
body header h1{
  float: left;
  margin-top: 10px;
}
.panel_content{
  margin-top: 20px;
}
.spamUl{
  display: none;
}
li:hover{
  background-color: #e9ebee;
}
.spamLimain{
  margin-bottom: 5px;
}
.nombre_cdc{
  display: none;
}
h4 a .badge{
  float: right;
}
.panel_info{
  margin-bottom: 80px;
}
.panel-collapse .panel-body a{
  color: #000000;
  font-size:12px;
}
.info_cdc{
  max-height: 430px;
  overflow-y: auto;
  overflow-x: hidden !important;
}
.menuOpciones{
    padding-left: 10px;
}
.menuOpciones a{
    color: #000;
}
.fbImg{
    border-radius: 50%;
    margin-top:  10px;

}
.relsultBusqueda{
    display: none;
}

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;

}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;

    /* customizable */
    background: #fff38b;
    margin-top: -50px;
    margin-left: 100px;
    z-index: 1000;

}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}